.movie--name--1 {
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.movie--name--1 h6 {
  white-space: nowrap;
  /* Không cho phép xuống dòng */
  overflow: hidden;
  /* Ẩn nội dung tràn   */
  text-overflow: ellipsis;
  /* Thêm dấu ba chấm nếu nội dung bị cắt */
}

.hover-thumb-1 {
  transition: transform 0.5s;
  border-radius: 5px;
}


.img-container1:hover .hover-thumb-1 {
  transform: scale(1.1);
  border-radius: 5px;
}

.play-button1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  background-color: orange;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container1:hover .play-button1 {
  display: flex;
  opacity: 1;
}

.play-button1:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.play-button1::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 1.5s infinite;
  z-index: -1;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 2;
  }

  100% {
    transform: translate(-50%, -50%) scale(3.5);
    opacity: 0;
  }
}

.tooltip-content-favo {
  visibility: hidden;
  opacity: 0;
  background-color: orange;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 105%;
  /* bottom: 0px; */
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  /* Cho phép nội dung tự động xuống dòng */
  word-wrap: break-word;
  /* Ngắt từ nếu quá dài */
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 100%;
}

.tooltip-content-favo::after {
  content: '';
  position: absolute;
  top: -15px;
  /* Đặt mũi tên ngay trên tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent orange transparent;
}

.tooltip-wrapper:hover .tooltip-content-favo {
  visibility: visible;
  opacity: 1;
}

/* 
@media screen and (max-width: 768px) {}

@media screen and (min-width:768px) {}

.img-container1 img {
  width: 100%;
  height: 260px;
} */
.img-container1 img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

/* Responsive cho màn hình nhỏ */
@media screen and (max-width: 768px) {
  .img-container1 img {
    max-height: 200px;
  }
}

/* Responsive cho màn hình rất nhỏ */
@media screen and (min-width: 768px) {
  .img-container1 img {
    max-height: 270px;
  }
} 
