.sidebar {
    min-height: 100svh;
    /* min-height: auto; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 15px;
    /* transition: width 0.15s ease, padding 0.3s ease; */
    z-index: 999;
    user-select: none;
}

@media (max-width: 800px) {
    .sidebar {
        /* position: fixed; */
    }
}

.sidebar.extended {
    width: 280px;
    /* position: absolute; */
    top: 0;
    /* background-color: #282A2C; */
    background-color: #141515;
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 80px;
    transition: 0.4s ease;

}

.menu,
.new-chat {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    background-color: unset;
    color: white;
    border: unset;
    font-size: 20px;
}

.menu:hover,
.new-chat:hover {
    background-color: #545556;
}

.top,
.bottom {
    display: grid;
    gap: 0.5rem;
    -ms-flex-line-pack: start;
    align-content: start;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar .new-chat {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 16px;
    color: #737475;
    cursor: pointer;
}

.sidebar .recent-title {
    margin-top: 20px;
    margin-bottom: 20px;
    /* không cho phép xuống dòng */
    white-space: nowrap;
    overflow: hidden;
}

.sidebar .recent-entry {
    padding: 10px;
    border-radius: 10px;
    color: #282828;
    cursor: pointer;
    color: white;
    font-size: 13px;
}
.sidebar .recent-entry:hover {
    background-color: #e8ebed6a;
}


.fade {
    transition: opacity 1s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.none {
    display: none;
    opacity: 0;
    animation: fadeOut 1s forwards;
}

.block {
    display: block;
    opacity: 0;
    animation: fadeIn 1s forwards;
    white-space: nowrap;
}

.centered {
    display: -ms-grid;
    display: grid;
    align-items: center;
    justify-content: start;
}

.recent {
    max-height: 130vh;
    overflow-y: auto;
    z-index: 5000;
    height: auto;
}

.recent-entry-p {
    white-space: nowrap;
    overflow: hidden;
}

.none-chat {
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    color: #737475;
    margin-top: 250px;
}
/* @media screen and (min-width: 1024px) {
    .window-tool-position{
        position: absolute;
        top: -10px;
        left: 0;
    }
} */
@media screen and (max-width: 1024px) {
    .window-tool-position{
        position: absolute;
        top: -25px;
        left: 0;
        z-index: 100;
    }
}